#barraDeNavegacao{
    color: white;
}

a{
    color: white !important;
}

#novoNome {

}

#criarListas{

}

.card{
    width: 20px;

}

.spn-list{
    background-color: transparent;
    border: none;
}

.row{
    color: white;
}

