#barraDeNavegacao{
    color: white;
}

a{
    color: white !important;
}

#novoNome {

}

#criarListas{
    display: none;
}

.card{
    width: 20px;
    height: 30px;
}

.spn-list{
    background-color: transparent;
    border: none;
}